<header class="cmp-header">
    <div class="cmp-header__main-nav">
        <div class="container">
            <nav class="nav justify-content-end">
                <a class="d-flex nav-link" aria-current="page" href="#">How to buy</a>
                <a class="d-flex nav-link" href="#">Partners</a>
                <a class="d-flex nav-link" href="#"><span class="cmp-header__icon-user"></span> Log in</a>
                <a class="d-flex nav-link" href="#"><span class="cmp-header__icon-world"></span> US EN</a>
            </nav>
        </div>
    </div>
    <div class="cmp-header__secondary-nav">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/content/dam/teamRedProject/logo.svg" alt="Jolt" class="img-fluid cmp-header__logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Products and Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Learn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <section class="cmp-hero">
        <div class="container">
            <div class="d-flex flex-column justify-content-center cmp-hero__content" style="background-image: url(/content/dam/teamRedProject/hero.png);">
                <p class="fw-bold cmp-hero__subtitle">Access Networking</p>
                <h1 class="fw-bold cmp-hero__heading">Always-on, always-secure connectivity</h1>
                <p class="cmp-hero__text">Bridge the gap between business and IT with intent-based networking.</p>
            </div>
        </div>
    </section>
    <section class="cmp-navigation">
        <div class="cmp-navigation__content">
            <div class="container">
                <nav class="cmp-navigation__nav nav">
                    <a class="nav-link fw-bold active" href="#overview">Overview</a>
                    <a class="nav-link fw-bold" href="#resources">Resources</a>
                    <a class="nav-link fw-bold" href="#models">Models</a>
                    <a class="nav-link fw-bold" href="#catalog">Catalog</a>
                </nav>
            </div>
        </div>
    </section>
    <section class="cmp-overview" id="overview">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="cmp-overview__heading">Headline, suggested 60 characters, Lorem ipsum dolor sit</h3>
                </div>
                <div class="col-md-8">
                    <p class="cmp-overview__text">Lead in, suggested 180 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac commodo est, ut fringilla dolor. Mauris quis nunc justo. Proin nisl at.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="cmp-resources" id="resources">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="/content/dam/teamRedProject/router.png" alt="Router" class="img-fluid d-none d-md-block cmp-resources__image" />
                </div>
                <div class="col-md-8">
                    <h2 class="cmp-resources__heading">Headline, suggested 60 characters, Lorem ipsum dolor sit</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cmp-resources__card">
                                <p class="cmp-resources__card-heading">Title suggested 35 characters max</p>
                                <p class="cmp-resources__card-text">Body copy, suggested 100 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et.</p>
                                <div><a href="#" class="btn btn-primary fw-bold cmp-resources__card-btn">Try it free</a></div>
                                <div><a href="#" class="cmp-resources__card-link">Get details ></a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cmp-resources__card">
                                <p class="cmp-resources__card-heading">Title suggested 35 characters max</p>
                                <p class="cmp-resources__card-text">Body copy, suggested 100 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et.</p>
                                <div><a href="#" class="btn btn-primary fw-bold cmp-resources__card-btn">Try it free</a></div>
                                <div><a href="#" class="cmp-resources__card-link">Get details ></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cmp-resources__card">
                                <p class="cmp-resources__card-heading">Title suggested 35 characters max</p>
                                <p class="cmp-resources__card-text">Body copy, suggested 100 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et.</p>
                                <div><a href="#" class="btn btn-primary fw-bold cmp-resources__card-btn">Try it free</a></div>
                                <div><a href="#" class="cmp-resources__card-link">Get details ></a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cmp-resources__card">
                                <p class="cmp-resources__card-heading">Title suggested 35 characters max</p>
                                <p class="cmp-resources__card-text">Body copy, suggested 100 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et.</p>
                                <div><a href="#" class="btn btn-primary fw-bold cmp-resources__card-btn">Try it free</a></div>
                                <div><a href="#" class="cmp-resources__card-link">Get details ></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn btn-outline-primary cmp-resources__btn">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cmp-models" id="models">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="/content/dam/teamRedProject/person.png" alt="About Us" class="d-none d-md-block img-fluid cmp-models__image">
                </div>
                <div class="col-md-8">
                    <h2 class="cmp-models__heading">Headline 50 characters max ipsum dolor sit amet </h2>
                    <p class="cmp-models__text">Body copy 180 characters max, 55 character line limit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut  Lorem ipsum dolor sit amet, elit sed do</p>
                    <div><a class="btn btn btn-outline-primary fw-bold cmp-models__link" href="#">Learn more</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="cmp-carousel">
        <div class="container">
            <div class="cmp-carousel__content">
                <h4 class="cmp-carousel__heading">Title copy 50 characters max, limit, Lorem ipsum</h4>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cmp-carousel__item">
                                        <p class="fw-bold cmp-carousel__item-title">Card title 40 characters max</p>
                                        <p class="cmp-carousel__item-text">Body copy 80 characters max, 28 character line limit adip iscing elit, sed do eiusmod</p>
                                        <div><a class="cmp-carousel__item-link" href="#">Learn more ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="cmp-catalog" id="catalog">
        <div class="container">
            <div class="d-flex justify-content-center">
                <h3 class="cmp-catalog__heading">Headline 30 characters max</h3>
            </div>
            <div class="cmp-catalog__content">
                <div class="row">
                    <div class="col-md-6">
                        <p class="fw-bold cmp-catalog__item-subtitle">Eyebrow 40 characters max</p>
                        <h4 class="cmp-catalog__item-title">Title 50 characters max, 30 per line</h4>
                        <p class="cmp-catalog__item-text">Body copy, suggested 150 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices facilisis sodales. Nulla non ullamcorper ac.</p>
                        <a class="cmp-catalog__item-link" href="#">Get details ></a>
                    </div>
                    <div class="col-md-6">
                        <p class="fw-bold cmp-catalog__item-subtitle">Eyebrow 40 characters max</p>
                        <h4 class="cmp-catalog__item-title">Title 50 characters max, 30 per line</h4>
                        <p class="cmp-catalog__item-text">Body copy, suggested 150 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices facilisis sodales. Nulla non ullamcorper ac.</p>
                        <a class="cmp-catalog__item-link" href="#">Get details ></a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center cmp-catalog__view-all">
                <a href="#" class="btn btn btn-outline-primary fw-bold cmp-catalog__btn">View more</a>
            </div>
        </div>
    </section>
    <section class="cmp-quote">
        <div class="container">
            <div class="cmp-quote__content">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="cmp-quote__heading">Headline suggested 30 characters</h3>
                    </div>
                    <div class="col-md-7">
                        <p class="cmp-quote__text">Body copy, suggested 200 characters, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue lectus risus, at eleifend velit feugiat sit amet. Donec luctus elit est, quis laoreet.</p>
                        <div><a href="#" class="btn btn-primary cmp-quote__btn">Primary CTA</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="cmp-footer">
    <div class="container">
        <div class="cmp-footer__main-nav">
            <div class="row">
                <div class="col-lg-7">
                    <nav class="nav">
                        <a class="nav-link p-0" href="#">About Jolt</a>
                        <a class="nav-link p-0" href="#">Contact us</a>
                        <a class="nav-link p-0" href="#">Careers</a>
                        <a class="nav-link p-0" href="#">Meet our partners</a>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <ul class="list-inline d-lg-flex justify-content-end">
                        <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-fb"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-tw"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-lk"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-yt"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-in"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cmp-footer__secondary-nav">
            <nav class="cmp-navigation__nav nav">
                <a class="nav-link p-0" href="#">Feedback</a>
                <a class="nav-link p-0" href="#">Help</a>
                <a class="nav-link p-0" href="#">Privacy statement</a>
                <a class="nav-link p-0" href="#">Cookies</a>
                <a class="nav-link p-0" href="#">Trademarks</a>
                <a class="nav-link p-0" href="#">Supply chain transparency</a>
                <a class="nav-link p-0" href="#">Sitemap</a>
            </nav>
        </div>
        <div class="cmp-footer__copyright">©2022 Jolt Systems, Inc.</div>
    </div>
</footer>